body, html {
  height: 100%;
  margin: 0;
  background-image:url(images/background.jpg);
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.middle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  display: flex;
  background: black;
  padding: 1em 0;
}

footer a {
  text-decoration: none;
  animation: pulse;
  padding: 0.5em;
  margin: 0.5em;
  width: 22px;
  height: 22px;
  text-decoration: none;
  -webkit-transition: background-color 0.75s, color 0.75s, box-shadow 0.75s;
  transition: background-color 0.75s, color 0.75s, box-shadow 0.75s;
}

footer a svg {
  margin: auto;
  display: inline-block;
}

footer a:hover svg {
  fill: white;
}

@keyframes pulse {to {box-shadow: 0 0 150px 5px rgba(169, 68, 66, 0);width:120px;height:120px;}}
